.centeredCss{
    display: flex;
    justify-content: center;
}

.spaceAroundCss{
    display: flex;
    justify-content: space-around;
}

.spaceBetweenCss{
    display: flex;
    justify-content: space-between;
}